<.live_component module={DovecotWeb.RaceLive.CategoryComponent} id={"jong"} race={@race} category={:jong} />
<.live_component module={DovecotWeb.RaceLive.CategoryComponent} id={"jaarling"} race={@race} category={:jaarling} />
