<.live_component module={DovecotWeb.RaceLive.CategoryComponent} id={"jong"} race={@race} category={:jong} path={@path} />
<.live_component module={DovecotWeb.RaceLive.CategoryComponent} id={"jaarling"} race={@race} category={:jaarling} path={@path} />
